header {

    width: 100%;
    height: 200px;
    float: left;
    background-color: rgb(114, 102, 153);
    color: black;
}

.centre {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

.leftColumn {
    width:50%;
    height: 700px;
    font-family: 'Lobster', cursive;
    float: left;
    text-align: center;
    background-color: rgb(111, 110, 111); 
}

.rightColumn {
    width: 50%;
    height: 700px;
    font-family: 'Lobster', cursive;
    float: right;
    text-align: center;
    background-color: blue;
}

.footer {
    width: 100%;
    height: 200px;
    font-family: 'Lobster', cursive;
    float: left;
    text-align: center;
    background-color: rgb(129, 0, 128);
    color: white;
}