body {
    width: 100%;
    height: 100%;
    margin: 0;

}

header {

    width: 100%;
    height: 200px;
    float: left;
    background-color: rgb(114, 102, 153);
    color: black;
}


.centre {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

.leftColumn {
    width:50%;
    height: 700px;
    font-family: 'Lobster', cursive;
    float: left;
    text-align: center;
    background-color: rgb(111, 110, 111); 
}

.rightColumn {
    width: 50%;
    height: 700px;
    font-family: 'Lobster', cursive;
    float: right;
    text-align: center;
    background-color: blue;
}

.footer {
    width: 100%;
    height: 200px;
    font-family: 'Lobster', cursive;
    float: left;
    text-align: center;
    background-color: rgb(129, 0, 128);
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    
}

li {
    float: left;
}
a {
    display: inline-block;
    padding: 30px;
    background-color: black;
    align-content: center;
    width: 21%;
}

li a {
    
    color: white;
    text-align: center;
    padding: 15px 91px;
    text-decoration: none;
    border: 0;
   
    
    
}

li a:hover {
    background-color: cornsilk;
}